

.Video{
    width: 100%;
    margin-top: 14rem;
    margin-bottom: 5rem;
}

.Video_box{
    width: 80%;
    margin:   0 auto;
}

.Video_box h1{
    font-size: 3rem;
    line-height: 1;
}

.Video_box p{
    font-size: 1.3rem;
    width: 40%;
    line-height: 1.2;
}

.Video_box_frame{
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line as needed */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    background-color: #e99a09; /* Yellow background */
    padding: 10px; /* Padding around the items */
    box-sizing: border-box; /* Include padding in the container's width */
    max-width: 100%; /* Prevents the container from exceeding the width of its parent */
    overflow: hidden; 
    gap: 20px;/* Hide any overflow */
    border-radius: 23px;
}

.Video_box_frame_left{
    grid-column: 1 /8;
    grid-row: 1 / -1;
}

.Video_box_frame_left_img{
    flex: 0 1 auto; /* Do not grow, allow shrinking, basis is auto */
  margin: 10px; /* Margin around items */
  max-width: calc(100% - 20px);
   /* Adjust max width to account for margin and padding */
   border-radius: 10px;
    
}

.Video_box_frame_right{
    grid-column: 3/-1;
    background-color: var(--icons-color);
    border-radius: 1rem;
    grid-row: 1 / -1;
    padding:  3rem 0;
    margin-top: -5rem;
    box-shadow: var(--box-shadow);
}

@media screen and (max-width: 35em) {
    .Video_box{
        width: 90%;
    }

    .Video_box_frame{
        padding: 0;
    }

    .Video_box_frame_right{
        margin-top: -2rem;
    }

    .Video_box h1{
        font-size: 2rem;
    }

    .Video_box p{
        width: 100%;
    }
}
@media (min-width: 768px) {
    .Video_box_frame_left_img{
      max-width: calc(50% - 20px); /* Adjust for 2 items per row */
    }
  }
  
  @media (min-width: 1024px) {
    .Video_box_frame_left_img{
      max-width: calc(33.333% - 20px); /* Adjust for 3 items per row */
    }
  }